body {
    background-image: url("background.jpg");
}

.header {
    content: "";
    clear: both;
    display: block;
    float: left;
    width: 100%;
    background-color: #f0ffff;
    border: 0px solid #f0ffff;
    border-radius: 15px 0 0 15px;
    height: 50px;
}
.sub-header {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 15px;
    height: 47px;
    width: 20%;
    float: left;
    display: inline-block;
}

.logout {
    float:left;
    display: inline-block;
    width: 75%;
}
.dropdown {
    float: right;
    display: inline-block;
    color: cadetblue;
    font-family: "Droid Sans Armenian";
    margin-top: 20px;
    cursor: pointer;
    cursor: hand;
}
.menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu a:hover {background-color: #f1f1f1}

.dropdown:hover .menu {
    display: block;
}

.dropdown:hover {
    background-color: #3e8e41;
}

.sub-header h1 {
    font-family: Garuda;
    font-size: 30px;
    color: azure;
    text-align: center;
    margin-top: inherit;
}

.chat-bar {
    display: inline-block;
    width: 100%;
   /* height: 80%;*/
    float: left;
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 5px;
   /* margin-top: 10px;*/
    overflow-x: auto;
    white-space: nowrap;
}

.pop-up {
    float: left;
    display: inline-block;
    /*margin-left: 20%;*/
    background-color: #f0fff0;
    border: 1px solid darkgrey;
    border-radius: 2px;
    width: 180px; /**/
    height: inherit;
}
.pop-up h1 {
    float: left;
    width: inherit;
    height: 20px;
    /*display:inline-block;*/
    font-family: "DejaVu Serif";
    font-size: 15px;
    color: darkslategrey;
    text-align: center;
    background-color: darkgrey;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pop-up span {
    float: right;
    width: 4%;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
    margin-right: 5px;
}

div[id^=\/] {
    float: left;
    width: 99%;
    display: inline-block;
    overflow-y: scroll;
    height: 155px;
    margin-top: 0px;
}

.pInput{
    float: left;
    display: inline-block;
    width:180px;
    margin-bottom: 0px;
}

.pInput .text {
    float: left;
    display: inline-block;
    width: 128px;
}
/*
.pInput button {
    float: left;
    display: inline-block;
    width: 10px;
}
*/

.online-users {
    display: inline-block;
    width: 15%;
    height: 340px;
    margin-top: 10px;
    background-color: gainsboro;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid lavender;
    overflow: auto;

}

#users {
    float: left;
    display: inline-block;
    /*margin-left: 40%;*/
    color: blue;
}

#users b {
    color: #006400;
}

.timeline {
    display: inline-block;
    width: 84%;
    height: 100%; /*340*/
    float: left;
}

.sub-timeline {
    margin-left: 18%;
    float: left;
    display: inline-block;
    width: 70%;
    height: auto;
}
.sub-timeline input {
     margin-left: 15%;
     margin-top: 50px;
     width: 60%;
    height: 30px;;
 }

.user {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 20px;
}

.user span {
    padding-left: 5px;
}

.user a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    cursor: hand;
}

.user:hover {
    background-color: #e1e2e5;
}

.user img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.chatAll {
    font-family: "Droid Serif";
    font-size: 18px;
    color: #f9f9f9;
}